
button{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin-right: 1rem;
    background-color: #0cd248;
    box-shadow: 1px 1px 2px 2px;
    margin-bottom: 20px;
}

button:hover{
    opacity: 0.8;
}

button:active{
    background: #0996ac;
    color: #fff;
}

.Btn:disabled{
 cursor: not-allowed;
 background-color: #0996ac;
}
